/* Footer Widgets
---------------------------------------------------------------------------- */

.footer-widgets {
	background-color: $brand-grey;
	color: $white;
	clear: both;
	padding: 30px 0;

	.wrap {
		margin-left: auto;
		margin-right: auto;

		@media only screen and (min-width: $small-screen) {
			max-width: 1200px;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	a {
		color: $white;
		text-decoration: none;
		font-weight: 600;
	}

	a:hover,
	li.current-menu-item a {
		color: $brand-light-blue;
	}
}



.footer-widget-area {
	margin-bottom: 20px;
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;

	@media only screen and (min-width: $small-screen) {
		float: left;
		margin-bottom: 0;
		width: calc(100% / 3);
	}
}

.footer-widget-area:last-child,
.footer-widgets .widget:last-child {
	margin-bottom: 0;
}


/* Site Footer
---------------------------------------------------------------------------- */

.site-footer {
	background-color: $brand-lighter-grey;
	font-size: 14px;
	line-height: 1.5;
	padding: 20px;
	text-align: center;

	p {
		margin-bottom: 0;
	}

	a {
		color: $dark-grey;
	}
}