/* Top Bar
--------------------------------------------- */

.top-bar {
	background-color: $brand-blue;
	padding: 5px 20px;

	a {
		color: $white;
		font-weight: 600;
		text-decoration: none;
	}

	a:focus,
	a:hover {
		color: $light-grey;
	}

	.wrap {
		max-width: 1200px;
		margin: 0 auto;
	}

	.top-left {
		margin: 0 auto;
		text-align: center;

		@media only screen and (min-width: $small-screen) {
			float: left;
			text-align: left;
		}
	}

	.top-right {
		display: none;

		@media only screen and (min-width: $small-screen) {
			display: block;
			float: right;

			// .phone,
			// .email {
			// 	display: inline-block;
			// 	margin-left: 15px;
			// }
		}
	}
}

/* Site Header
---------------------------------------------------------------------------- */

.site-header {
	background-color: $white;
	padding: 0 15px;

	@media only screen and (min-width: $small-screen) {
		padding: 0 30px;
	}

	.wrap {
		max-width: 1200px;
		margin: 0 auto;
	}
}

/* Title Area
--------------------------------------------- */

.title-area {
	margin: 0 auto;
	padding-bottom: 25px;
	padding-top: 25px;
	display: inline-block;

	@media only screen and (min-width: $small-screen) {
		float: left;
	}
}

.wp-custom-logo .title-area {
	max-width: 200px;
	padding-bottom: 10px;
	padding-top: 10px;
	width: 100%;
}

.wp-custom-logo .title-area img {
	width: auto;
}

.site-title {
	font-size: 20px;
	font-weight: 600;
	line-height: 1;
	margin-bottom: 0;
}

.site-title a,
.site-title a:focus,
.site-title a:hover {
	color: $dark-grey;
	text-decoration: none;
}

.site-description,
.wp-custom-logo .site-title {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}